<div class="header">
  <div class="overlay"></div>
  <h1 class="headline">Find your station</h1>
  <div class="input-area">
    <div class="input-item left">
      <label for="departing">Departing from</label>
      <select id="departing" class="departing" tabindex="10">
        <option *ngFor="let station of stations" [attr.value]="station.id">{{station.name}}</option>
      </select>
    </div>
    <div class="input-item right">
      <label for="arriving">Arriving to</label>
      <select id="arriving" class="arriving" tabindex="10">
        <option *ngFor="let station of stations" [attr.value]="station.id">{{station.name}}</option>
      </select>
    </div>
  </div>
</div>
<div class="train-route">
  <h2>Next Available Train</h2>
  <div class="route-meta">Today departing at 7:12am from San Francisco</div>
  <div class="route-meta">Arriving at 8:01pm at Mountain View</div>
  <div class="route-info container">
    <h3>Weekdays</h3>
    <div class="row header-row">
      <div class="col-xs-4">Depart time</div>
      <div class="col-xs-4">Arrival time</div>
      <div class="col-xs-4">Stops</div>
    </div>
    <div *ngFor="let route of schedule.weekdayRoutes()" class="row">
      <div class="col-xs-4">{{route.departure}}</div>
      <div class="col-xs-4">{{route.arrival}}</div>
      <div class="col-xs-4">{{route.stops}}</div>
    </div>
  </div>
  <div class="route-info container">
    <h3>Weekends</h3>
    <div class="row header-row">
      <div class="col-xs-4">Depart time</div>
      <div class="col-xs-4">Arrival time</div>
      <div class="col-xs-4">Stops</div>
    </div>
    <div *ngFor="let route of schedule.weekendRoutes()" class="row">
      <div class="col-xs-4">{{route.departure}}</div>
      <div class="col-xs-4">{{route.arrival}}</div>
      <div class="col-xs-4">{{route.stops}}</div>
    </div>
  </div>
</div>
<div class="default-schedule">
  <div class="button-bar">
    <button class="btn left">Weekday</button>
    <button class="btn right">Weekend</button>
  </div>
  <div class="schedule-container">
    <h3>Northbound</h3>
    <div class="schedule">
      
    </div>
  </div>
  <div class="schedule-container">
    <h3>Southbound</h3>
    <div class="schedule">

    </div>
  </div>
<div class="default-map">

</div>
