@import '../styles/variables';
.header {
  height: 350px;
  background-color: gray;
  background-image: url('app/assets/train.jpg');
  background-size: cover;
  background-position: 50% 48%;
  position: relative;
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(45, 45, 45, 0.5);
    z-index: 1;
  }
  $extraSpace: 30px;
  $extraSpaceMobile: 10px;
  .headline {
    position: absolute;
    top: $navHeight + $extraSpace;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
    z-index: 2;
    @media (max-width: 500px) {
      font-size: 28px;
      top: $navHeight + $extraSpaceMobile;
    }
  }
  // input positioning
  .input-area {
    width: 50%;
    height: 95px;
    z-index: 2;
    position: absolute;
    top: $navHeight + $extraSpace;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    // Input items
    $inputPadding: 10px;
    .input-item {
      width: 50%;
      padding: $inputPadding;
      float: left;
      &.left {
        padding-right: 30px;
      }
      &.right {
        padding-left: 30px;
      }
      label {
        color: white;
        font-weight: 200;
      }
      select {
        width: 100%;
      }
    }
    @media (max-width: 900px) {
      width: 70%;
    }
    @media (max-width: 700px) {
      width: 90%;
    }
    @media (max-width: 500px) {
      height: 140px;
      top: $navHeight + $extraSpaceMobile;
      .input-item {
        float: initial;
        margin: 0 auto;
        width: 90%;
        &.left {
          padding-right: $inputPadding;
        }
        &.right {
          padding-left: $inputPadding;
        }
      }
    }
  }
}
.train-route {
  position: relative;
  overflow: hidden;
  background-color: #e4e1db;
  color: #5a5a5a;
  max-height: 0px;
  transition: 1.5s all;
  overflow: scroll;
  &.show-routes {
    max-height: 3000px;
  }
  h2 {
    text-align: center;
    margin: 0;
    padding-top: 60px;
    padding-bottom: 10px;
  }
  .route-meta {
    text-align: center;
  }
  .route-info {
    padding: 30px;
    padding-bottom: 50px;
    overflow: hidden;
    .row {
      border-bottom: 1px solid #ababab;
      padding: 10px;
      .btn.btn-link {
        padding: 6px 2px;
      }
      &.header-row {
        border-bottom: 1px solid #5a5a5a;
      }
      &:last-of-type {
        border-bottom: none;
      }
    }
  }
  .close {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100px;
    text-align: center;
    margin: auto;
    font-size: 40px;
  }
}
.default-schedule {
  .default-title {
    text-align: center;
    text-transform: capitalize;
    padding-top: 20px;
  }
  .button-bar {
    float: right;
    padding-right: 2%;
    padding-top: 20px;
    .btn {
      float: left;
      background-color: white;
      border: solid 1px gray;
      color: $primaryColor;
      border-color: $primaryColor;
      &.active-button, &:active {
        background-color: $primaryColor;
        color: white;
      }
    }
    .left {
      border-radius: 5px 0 0 5px;
      border-right: none;
    }
    .right {
      border-left: none;
      border-radius: 0 5px 5px 0;
    }
  }
  .schedule-container {
    padding-top: 30px;
    .schedule-title {
      padding-left: 2%;
      @media (max-width: 400px) {
        padding-top: 40px;
      }
    }
    .table-container {
      width: 96%;
      margin: 10px auto;
      overflow-x: scroll;
      .table {
        .train-no {
          padding: 11px 2px 11px 0 !important;
        }
        .sat-only {
          background-color: #e4e1db;
        }
        .col-header {
          width: 150px;
          position: absolute;
          background-color: white;
          @media (max-width: 400px) {
            width: 100px;
          }
        }
        $minWidth: 80px; 
        .first-col {
          padding-left: 150px !important;
          min-width: 161px + $minWidth !important;
        }
        tr {
          padding: 5px 2px;
          th {
            padding: 0;
            @media (max-width: 400px) {
              height: 65px;
              border-bottom: none;
            }
            > div {
              padding: 11px 11px 11px 0;
              min-width: $minWidth;
              &:not(.col-header) {
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}
.default-map {
  .map-title {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 40px;
  }
  img {
    margin: 0 auto;
    max-width: 750px;
    width: 100%;
    display: block;
    padding-bottom: 50px;
  }
}

// default select styling
select {
  $selectColor: #e6e6e6;
  color: #454545;
  display: block;
  font-size: 18px;
  border-style: solid;
  border-color: $selectColor;
  border-width: 1px;
  padding: 10.219px;
  box-shadow: none;

  height: 47.44px;
  min-width: 100px;
  background-color: $selectColor;
  border-radius: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-position: 98% 50%;
  background-repeat: no-repeat;
  background-image: url('app/assets/ios-down-arrow.svg');
  background-size: 30px;
  cursor: pointer;
  &::-ms-expand{
    display:none;
  }
  .default-select {
    display: none;
  }
  .hide-option {
    display: none;
  }
}