<div class="header">
  <div class="overlay"></div>
  <h1 class="headline">Find your station</h1>
  <div class="input-area">
    <div class="input-item left">
      <label for="departing">Departing from</label>
      <select
        #select1
        (change)="schedule.stationSelected($event, 1)"
        id="departing"
        class="departing"
        aria-label="Select a departing train route"
        tabindex="10">
        <option class="default-select" disabled selected value>select a station</option>
        <option
          *ngFor="let station of schedule.stations"
          [attr.value]="station.id"
          [ngClass]="{'hide-option': station.id === select2.value}">{{station.name}}</option>
      </select>
    </div>
    <div class="input-item right">
      <label for="arriving">Arriving to</label>
      <select
        #select2
        (change)="schedule.stationSelected($event, 2)"
        id="arriving"
        class="arriving"
        aria-label="Select an arriving train route"
        tabindex="10">
        <option class="default-select" disabled selected value>select a station</option>
        <option
          *ngFor="let station of schedule.stations"
          [attr.value]="station.id"
          [ngClass]="{'hide-option': station.id === select1.value}">{{station.name}}</option>
      </select>
    </div>
  </div>
</div>
<div [ngClass]="{'show-routes': select2.value && select1.value}" class="train-route">
  <h2>Next Available Train</h2>
  <div *ngIf="schedule.nextAvailable.until">
    <div class="route-meta">Departing {{schedule.nextAvailable.departing}} from {{schedule.nextAvailable.from}}</div>
    <div class="route-meta">Arriving at {{schedule.nextAvailable.arriving}} at {{schedule.nextAvailable.to}}</div>
    <div class="route-meta">Leaving {{schedule.nextAvailable.until}}</div>
  </div>
  <div
    *ngFor="let weekPeriod of schedule.routeOptions"
    class="route-info container">
    <h3>{{weekPeriod.name}}</h3>
    <div *ngIf="weekPeriod.routes.length > 0">
      <div class="row header-row">
        <div class="col-xs-4" [ngClass]="{'col-xs-3': weekPeriod.name === 'Weekends'}">Depart time</div>
        <div class="col-xs-4" [ngClass]="{'col-xs-3': weekPeriod.name === 'Weekends'}">Arrival time</div>
        <div class="col-xs-4">Stops</div>
        <div *ngIf="weekPeriod.name === 'Weekends'" class="col-xs-2">Special</div>
      </div>
      <div *ngFor="let route of weekPeriod.routes" class="row">
        <div class="col-xs-4" [ngClass]="{'col-xs-3': weekPeriod.name === 'Weekends'}">{{route.departure}}</div>
        <div class="col-xs-4" [ngClass]="{'col-xs-3': weekPeriod.name === 'Weekends'}">{{route.arrival}}</div>
        <div class="col-xs-4">
          <span>{{route.stops}}</span><span
            *ngIf="route.moreStops !== null && route.expanded !== true">...<button
              (click)="route.expanded = true"
              aria-label="Show more stops for this route"
              class="btn btn-link">More</button>
          </span><span *ngIf="route.expanded === true">{{route.moreStops}}<button
              (click)="route.expanded = false"
              aria-label="Show fewer stops for this route"
              class="btn btn-link">Less</button>
          </span>
        </div>
        <div *ngIf="weekPeriod.name === 'Weekends'" class="col-xs-2">
          <span *ngIf="route.satOnly">Saturday only</span>
        </div>
      </div>
    </div>
    <div *ngIf="weekPeriod.routes.length === 0">None</div>
  </div>
  <div (click)="select1.value = ''; select2.value = ''" class="close ion-ios-arrow-up"></div>
</div>
<div id="app-schedule" class="default-schedule">
  <h3 class="default-title">{{weekPeriod}} Train Schedule</h3>
  <div class="button-bar">
    <button
      (click)="weekPeriod = 'weekday'"
      [ngClass]="{'active-button': weekPeriod === 'weekday'}"
      tabindex="10"
      aria-label="Switch to the weekday default train schedule"
      class="btn left">Weekday</button>
    <button
      (click)="weekPeriod = 'weekend'"
      [ngClass]="{'active-button': weekPeriod === 'weekend'}"
      tabindex="10"
      aria-label="Switch to the weekend default train schedule"
      class="btn right">Weekend</button>
  </div>
  <div *ngFor="let weekObj of schedule.defaultSchedule[weekPeriod]" class="schedule-container">
    <h3 class="schedule-title">{{weekObj.name}}</h3>
    <div class="schedule">
      <div class="table-container">
        <table class="table">
          <thead>
            <tr>
              <th class="col-header train-no">Train No.</th>
              <th *ngFor="let trainNumber of schedule.trainData?.defaultSchedule[weekObj.group]; let i = index">
                <div [ngClass]="{'first-col': i === 0}">{{trainNumber}}</div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="weekPeriod === 'weekend'">
              <th><div class="col-header">Special</div></th>
              <th *ngFor="let trainNumber of schedule.trainData?.defaultSchedule[weekObj.group]; let i = index">
                <div [ngClass]="{'first-col': i === 0, 'sat-only': schedule.trainData.metaInfo[trainNumber][ weekObj.items[0].id ].satOnly !== false}">
                  <span *ngIf="schedule.trainData.metaInfo[trainNumber][ weekObj.items[0].id ].satOnly">Sat only</span>
                </div>
              </th>
            </tr>
            <tr *ngFor="let station of weekObj.items">
              <th><div class="col-header">{{station.name}}</div></th>
              <th *ngFor="let trainNumber of schedule.trainData?.defaultSchedule[weekObj.group]; let i = index">
                <div [ngClass]="{'first-col': i === 0, 'sat-only': schedule.trainData.metaInfo[trainNumber][station.id]?.satOnly}">{{schedule.trainData.metaInfo[trainNumber][station.id]?.time | appTime}}</div>
              </th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div id="app-map" class="default-map">
  <h3 class="map-title">Systems Map</h3>
  <img src="app/assets/caltrain-map.png" alt="map of train stations" />
</div>
