<nav id="navbar" class="navbar navbar-fixed-top navbar-default">
	<div>
		<div class="navbar-header">
			<a
				aria-label="Home"
				pageScroll
				[pageScrollOffset]="51"
				[routerLink]="['/']"
				tabindex="5"
				href="#app-home"
				class="navbar-brand">
			</a>
			<button
				type="button"
				class="navbar-toggle"
				(click)="isCollapsed = !isCollapsed"
				aria-label="Toggle navigation options"
				tabindex="5">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="navbar-collapse fix-on-init" [ngClass]="{'navbar-closed': isCollapsed}">
			<ul class="nav navbar-nav">
        <li role="menuitem">
					<a
						pageScroll
						[pageScrollOffset]="76"
						[routerLink]="['/']"
						tabindex="5"
						aria-label="Scroll to the default train schedule"
						href="#app-schedule">Schedule</a>
        </li>
				<li role="menuitem">
					<a
						pageScroll
						[pageScrollOffset]="0"
						[routerLink]="['/']"
						tabindex="5"
						aria-label="Scroll to the train map"
						href="#app-map">Map</a>
        </li>
			</ul>
		</div>
	</div>
</nav>
