@import '../../styles/variables';
.navbar {
	background-color: rgba(255, 255, 255, 0.9);
	border-bottom: none;
	height: $navHeight;
	a {
		cursor: pointer;
	}
	&.navbar-default {
		.navbar-brand, .navbar-nav > li > a {
			color: $primaryColor;
			margin: 5px 0;
		}
		.navbar-brand {
			padding: 12px 15px;
			font-size: 25px;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-image: url('assets/ion-android-train.svg');
			background-size: 24px;
			width: 47px;
		}
	}
	.navbar-pull-right {
		float: right;
	}
	// Nav collapse button
	.navbar-toggle {
		border-color: $primaryColor;
		&:focus {
			outline: initial;
			outline-color: -webkit-focus-ring-color;
			outline-style: auto;
			outline-width: initial;
		}
		.icon-bar {
			background-color: $primaryColor;
		}
		&:hover {
			background-color: initial;
		}
		&:focus {
			background-color: initial;
		}
		@media (max-width: 768px) {
			margin-top: 14px;
		}
	}
}
@media (max-width: 768px) {
  .navbar-collapse {
		// ** Added because ng2-bootstrap was throwing error:
		//    'WARNING: sanitizing unsafe style value '
		//    while using [collapse]="isCollapsed" in the HTML 
		//    It started after upgrading the @angular/...2.0.0-rc.3 ** //
		&.navbar-closed {
			display: none;
		}
		background-color: rgba(255, 255, 255, 0.9);
		text-align: center;
		.navbar-pull-right {
			float: initial;
		}
  }
}
